<application>
  <component name="MybatisBuilder.application.config">
    <option name="accessToken" value="refresh-at: 1596808988728" />
    <option name="deviceId" value="228f08ea-875a-4b54-8a0d-4d057c9408e4" />
    <option name="refreshToken" value="19a756710edc4c7ebe77c7c37d6f97e8" />
  </component>
</application>